html
    head
        title
    body(ng-app="mahria")
        mahria-header

    script( href="bower_components/angular.js" )
    script( href="bower_components/mahria-header/dist/mahria-header.js" )
    script( href="app.js")

